@import "tailwindcss";

body {
  background-color: #030712;
}

/* Hide scrollbar for category bar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}